<div class="row  justify-content-center mt-5 ">
  <div class="col-sm-12 col-md-3 p-4 bg-secondary rounded bd-gradient">
    <h1>Add a new list</h1>
    <%= render "form", list: @list %>
  </div>
</div>
