<div id="footer">
  <div class="thing">
      <%= link_to("https://github.com/rmPablo1", target:"_blank") do %>
        <i class="fa-brands fa-github fs-2"></i>
      <% end %>
      <%= link_to("https://www.linkedin.com/in/pablo-rubio-monzo/", target:"_blank") do %>
        <i class="fa-brands fa-linkedin fs-2"></i>
      <% end %>
  </div>
  <p>Made by Pablo Rubio Monzó</p>
</div>
